---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": [{"id": "e88682fb-cb02-4b30-adb5-302a957d9651", "name": "scw-cli-k8s-beautiful-pros-cli-pool-sil-43e6c5",
      "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "scw-cli-k8s-beautiful-pros-cli-pool-sil-43e6c5", "image": {"id":
      "39a71c71-bb3e-4ba9-b550-e45f491cf6a7", "name": "Kubernetes base node 94cae785
      20210412-1103", "organization": "d3009bdc-497e-4b60-a785-1abfad8740ca", "project":
      "d3009bdc-497e-4b60-a785-1abfad8740ca", "root_volume": {"id": "b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0",
      "name": "k8s_base_node_2021-04-12_11:03", "volume_type": "l_ssd", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2021-04-12T11:08:57.473796+00:00",
      "modification_date": "2021-04-12T11:08:59.914868+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "92820963-b029-42a5-854f-4cee27560283",
      "name": "k8s_base_node_2021-04-12_11:03", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "e88682fb-cb02-4b30-adb5-302a957d9651", "name": "scw-cli-k8s-beautiful-pros-cli-pool-sil-43e6c5"},
      "size": 40000000000, "state": "available", "creation_date": "2023-08-02T16:40:46.479358+00:00",
      "modification_date": "2023-08-02T16:40:46.479358+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": ["kapsule=7b18357b-9c0a-46ea-af9a-5427d97f17c2", "pool=0819d779-ade0-4b32-9b24-bab8c5284944",
      "pool-name=cli-pool-silly-kapitsa", "runtime=containerd", "managed=true", "node=43e6c5e2-b416-4dfe-a5d2-423ac52d1bc7"],
      "state": "running", "protected": false, "state_detail": "booting kernel", "public_ip":
      {"id": "ad9202e7-2284-4cb8-811d-b2b35b64b69f", "address": "51.15.241.125", "dynamic":
      true, "gateway": null, "netmask": "32", "family": "inet", "provisioning_mode":
      "dhcp"}, "public_ips": [{"id": "ad9202e7-2284-4cb8-811d-b2b35b64b69f", "address":
      "51.15.241.125", "dynamic": true, "gateway": null, "netmask": "32", "family":
      "inet", "provisioning_mode": "dhcp"}], "mac_address": "de:00:00:1f:c6:93", "routed_ip_enabled":
      false, "ipv6": {"address": "2001:bc8:47b0:2030::1", "gateway": "2001:bc8:47b0:2030::",
      "netmask": "64"}, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6":
      true, "private_ip": "10.65.128.97", "creation_date": "2023-08-02T16:40:46.479358+00:00",
      "modification_date": "2023-08-02T16:41:14.164002+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "18c47099-3e61-4247-ba37-0b9b96c9336e",
      "name": "kubernetes 7b18357b-9c0a-46ea-af9a-5427d97f17c2"}, "location": {"zone_id":
      "par1", "platform_id": "14", "cluster_id": "19", "hypervisor_id": "1701", "node_id":
      "49"}, "maintenances": [], "allowed_actions": ["poweroff", "terminate", "reboot",
      "stop_in_place", "backup"], "placement_group": null, "private_nics": [{"id":
      "40e149c8-aceb-446f-b727-e2cf03e005d4", "private_network_id": "6c1d336b-06e0-4aca-97a3-a7286d13f7f1",
      "server_id": "e88682fb-cb02-4b30-adb5-302a957d9651", "mac_address": "02:00:00:13:88:83",
      "state": "available", "creation_date": "2023-08-02T16:40:47.025669+00:00", "modification_date":
      "2023-08-02T16:40:47.964499+00:00", "zone": "fr-par-1", "tags": []}], "zone":
      "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/pl-waw-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
